<div class="card-container">
      <li class="card">
        <div class="card-image">
          <img src="<%= blog.image %>">
        </div>
        <div class="card-content">
          <h1 class="book_title">
          Title : <%= blog.name %></h1>
          <a href=""><h2 class="posted_by">
          Posted by : <%= blog.user.nickname %> さん</h2>
          </a>
          <h3>
            Rate : <%= blog.comments.average(:rate) %>
          </h3>
          <div class="posted_by_content"><%= simple_format(blog.text) %>
          </div>
        </div>
        <div class="card-action">
          <li class="card-action list"><%= link_to 'Detail', "/blogs/#{blog.id}", method: :get, class: "btn" %>
          </li>
          <% if user_signed_in? && current_user.id == blog.user_id %>
            <li class="card-action list"><%= link_to 'Edit', "/blogs/#{blog.id}/edit", method: :get ,class: "btn" %>
            </li>
            <li class="card-action list"><%= link_to 'Delete', "/blogs/#{blog.id}", method: :delete,  class: "btn" %>
            </li>
          <% end %>
        </div>
      </li>
    </div>
