<div class="card-container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img src="<%= @blog.image %>">
          <span class="card-title">
        </div>
        <div class="card-content-show">
          <span class="book_title">
          Title : <%= @blog.name %></span>
          <a href=""><sapn class="posted_by">
          Posted by : <%= @blog.user.nickname %> さん</span>
          </a>
          <div class="rate">
            Rate : <% if @blog.comments.average(:rate) == 'nil' %>
            <li></li>
            <% elsif @blog.comments.average(:rate) == 0 %>
              <i class="fas fa-star fa-gray"></i>
            <i class="fas fa-star fa-gray"></i>
            <i class="fas fa-star fa-gray"></i>
            <i class="fas fa-star fa-gray"></i>
            <i class="fas fa-star fa-gray"></i>
            <% elsif @blog.comments.average(:rate) <= 5 && @blog.comments.average(:rate) > 4 %>
            <i class="fas fa-star fa-yellow"></i>
            <i class="fas fa-star fa-yellow"></i>
            <i class="fas fa-star fa-yellow"></i>
            <i class="fas fa-star fa-yellow"></i>
            <i class="fas fa-star fa-yellow"></i>
            <% elsif @blog.comments.average(:rate) <= 4 && @blog.comments.average(:rate) > 3 %>
              <i class="fas fa-star fa-yellow"></i>
              <i class="fas fa-star fa-yellow"></i>
            <i class="fas fa-star fa-yellow"></i>
            <i class="fas fa-star fa-yellow"></i>
            <i class="fas fa-star fa-gray"></i>
              <% elsif @blog.comments.average(:rate) <= 3 && @blog.comments.average(:rate) > 2%>
              <i class="fas fa-star fa-yellow"></i>
            <i class="fas fa-star fa-yellow"></i>
            <i class="fas fa-star fa-yellow"></i>
            <i class="fas fa-star fa-gray"></i>
            <i class="fas fa-star fa-gray"></i>
              <% elsif @blog.comments.average(:rate) <= 2 && @blog.comments.average(:rate) > 1%>
              <i class="fas fa-star fa-yellow"></i>
            <i class="fas fa-star fa-yellow"></i>
            <i class="fas fa-star fa-gray"></i>
            <i class="fas fa-star fa-gray"></i>
            <i class="fas fa-star fa-gray"></i>
              <% elsif @blog.comments.average(:rate) <= 1 && @blog.comments.average(:rate) > 0%>
              <i class="fas fa-star fa-yellow"></i>
              <i class="fas fa-star fa-gray"></i>
            <i class="fas fa-star fa-gray"></i>
            <i class="fas fa-star fa-gray"></i>
            <i class="fas fa-star fa-gray"></i>
             
            <% end %>
          </div>
          <div class="posted_by_content-show"><%= simple_format(@blog.text) %>
          </div>
        </div>
        <div class="card-action">
          <li><%= link_to '詳細', "/blogs/#{@blog.id}", method: :get, class: "waves-effect waves-light #90caf9 blue lighten-3 btn" %>
            </li>

        <% if user_signed_in? && current_user.id == @blog.user_id %>
            <li><%= link_to '編集', "/blogs/#{@blog.id}/edit", method: :get ,class: "waves-effect waves-light blue lighten-3 btn" %>
            </li>
            <li><%= link_to '削除', "/blogs/#{@blog.id}", method: :delete,  class: "waves-effect waves-light blue lighten-3 btn" %>
            </li>

        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card-container"> 
 <div class="row">
    <div class="col s12">
      <div class="card #e0f7fa cyan lighten-5">
        <div class="card-content-comment center">
          <span class="card-title blue-text">comments</span>
          <% if current_user %>

      <%= form_tag("/blogs/#{@blog.id}/comments", method: :post, id: "new_comment") do %>
        <textarea class="blue-text" cols="30" name="text" placeholder="comments" rows="2"></textarea>
        <p>Rating : <input placeholder="評価" value="1" max="5" min="0" type="number" name="rate" id="review_rate">
        </p>
        <br>
        <input class="waves-effect waves-light blue lighten-3 btn" type="submit" value="SENT">
      <% end %>
    <% end %>  
  </div>
        

        <div class="card-title center below">

          <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：
            <%= comment.text %>  Rate : <%= comment.rate %>
          </p>
        <% end %>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


