<!DOCTYPE html>
<html>
<head>
  <title>Blogapp1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="initial-scale=1.0">

  <style type="text/scss" href="./style.scss"></style>

  <!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  
</head>
<body>

  <header class="page-header">
    
    <nav class="primary-nav" role="navigation">  
      <ul>
        <span class="bar-title">BOOK::EXPERT</span>
         <li><%= link_to "SEARCH", search_blogs_path, class: 'post' %></li>
        <% if user_signed_in? %>
          <li><a class="post" href="/blogs/new">POST</a></li>
          <li><a href="/users/<%= current_user.id %>">MY PAGE</a></li>
          <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
          <li><%= current_user.nickname %>さん</li>
        <% else %>
          <li><%= link_to "LOG IN", new_user_session_path, class: 'post' %></li>
          <li><%= link_to "NEW USER", new_user_registration_path, class: 'post' %></li>
        <% end %>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
