<!DOCTYPE html>
<html>
<head>
  <title>Blogapp1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css" href="./style.css"></style>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  
</head>
<body class="#fafafa grey lighten-5">

	<div class="navbar-fixed">
    <nav class="#29b6f6 light-blue lighten-1">
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo center">Book Blog</a>
	      
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	   	   
	   	   <% if user_signed_in? %>
	   	   	<span><li><%= current_user.nickname %>さん</li>
            <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        	</span>
      	    <li><a class="post" href="/blogs/new">投稿する</a></li>
      		<% else %>
        	<li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
        	<li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
	        <% end %>
	        
	      </ul>
	      
	     </div>
     </nav>
     </div>

<%= yield %>

</body>
</html>
